@model IEnumerable<Billeterie_Web.ViewModel.ArtistWallViewModel>

@{
    ViewData["Title"] = "Wall";
}

<div class="row">
    @foreach (var item in Model)
    {
        <dix class="col-2" style="max-height:175px; max-width:175px; text-align:center; font-weight:bold;">
            <div class="row">
                <div class="col">
                    <a href=@Url.Action("Profil","Artist",new {id = item.ArtistID})>
                        <img src=@item.ArtistPhoto style="max-height:150px; max-width:150px">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @item.ArtistName
                </div>
            </div>
        </dix>
    }
</div>

